
.overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 2rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border: 1px solid red;
}

.overlay-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.overlay-content h2 {
    margin: 0;
}

.overlay-content button {
    align-self: flex-end;
    padding: 0.5rem 1rem;
    cursor: pointer;
}


.overlay-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.overlay-content-container {
    display: flex;
    width: fit-content;
    flex-direction: column;
    gap: 1rem;
}

.display-flex {
    display: flex;
    align-items: center;
}

.display-flex .Dropdown-control {
    width: 15rem !important;
}

.overlay-key {
    width: 15rem;
}
.overlay-key-2{
    width: 5rem;
}
.overlay-key-3{
    width: 12rem;
}
.flex-column-gap-1{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.border {
    width: 100%;
    border: 1px solid gray;
}

.overlay-action-button {
    display: flex;
    width: 100%;
    /* align-items: center; */
    justify-content: center;
    gap: 3rem;
    margin-top: 2rem;
}

input{
    border: 1px solid grey;
    padding: 0.4rem 1rem;
}

.input-interview-1{
    width: 9rem;
}



textarea{
    border: 1px solid grey;
    padding: 1rem;
}

.interview-schedule-container{
    display: flex;
    flex-direction: row;
    gap: 5rem;
}