@import url('https://fonts.googleapis.com/css2?family=Akzidenz+Grotesk+BQ:wght@300&family=Helvetica&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
}

::-webkit-scrollbar{
    display: none;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #eee;
}